<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/200x200">
      <br> 
      <p><%= "#{@user.first_name} #{@user.last_name}"  %> </p>
      <br>
      <p><%= "Joined on #{@user.created_at.to_date.to_formatted_s(:long_ordinal)}" %></p>
      <br>
      <p><%= "Home City: #{@user.location}" %></p>
      <!-- TODO change to link to specific user -->
      <%=link_to "Edit profile", edit_user_path, class:"btn btn-primary" %>
    </div>
    <div class="col-sm-8">
      <!-- TODO run loop for all posts here -->
      <ul>
        <% @user.posts.each do |p| %> 
        <li>
          <%= link_to "#{p.title}", post_path(p) %>
          <br>
          <%= p.content %> 
          <br>
          <%= button_to "Edit Post", edit_post_path(p), class:"btn btn-default", method: :get %>
          <%= button_to "Delete Post", post_path(p), class:"btn btn-default", method: :delete %>
        </li>
        <% end %> 
      </ul>
    </div>
  </div>
</div>

