<div class="container">
  <div class="row">
    
    <div class="col-sm-6">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-sm-6">
      <h1>Catch Phrase</h1>
      <h3>Text describing site function/purpose</h3>
      <!-- TODO change to link to sign up page -->
      <%= button_to "Sign Up", new_user_path, class:"btn btn-default", method: :get %>
    </div>
  </div>

</div>
    
<div class="container">
  <div class="row">  
    <% @cities.each do |city| %>
      <div class="col-sm-3">
        <div class="thumbnail">
        <%= link_to city_path(city) do %>
          <img src="<%=city.image%>" >
        <%end%>
            <div class="caption">
             <h3><%=city.name%></h3>
        
              <p><%= link_to "View City", city_path(city) %> </p>
            </div>
        </div>
      </div>
    <% end %>
  </div> 
</div>


