<div id='splash'>
  <div id='welcome' class="container">
    <div class="row">
      
      <div class="col-sm-6">
        <%= image_tag ('splash.gif')%>
      </div>

      <div id='splash_content' class="col-sm-6">
        <h1>Travel Chatter</h1>
        <h3>A place for people to leave posts about places they have been, things they have seen or things they have done around the world.</h3>
        <!-- TODO change to link to sign up page -->
        <%= button_to "Sign Up", new_user_path, class:"btn btn-default", method: :get %>
        <p class="btn">Join the chatter and make an accout</p>
      </div>
    </div>

  </div>
</div>
    
<div class="container">
  <div class="row city_display">  
    <% @cities.each do |city| %>
      <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
        <%= link_to city_path(city) do %>
          <img src="<%=city.image%>" >
        <%end%>
             <h3><%=city.name%></h3>
        
              <p><%= link_to "View City", city_path(city) %> </p>
            </div>
        </div>
      </div>
    <% end %>
  </div> 
</div>


