<div class="container">
  <div id='newPostForm' class="col-md-12">
    <h1>Post about any city below:</h1>
    <div class="well">
     
      <%= form_for @post do |f| %>

      <ul>
        <% if @post.errors.any? %> 
        <p>
          <%= pluralize(@post.errors.count, "error") %> prevented the form from being saved:
        </p>
        <% @post.errors.full_messages.each do |message| %> 
        <li><%= message %></li>

        <% end %> 
        <% end %> 
      </ul>
      
        <div>
          <h3>Create a tile for your post:</h3>
          <p>This should help other users have a good idea about what your post topic is about.</p>
          <%= f.text_field :title, class:"form-control", placeholder: "Title" %>
        </div>
        <div>
          <h3>Information to share:</h3>
          <p>The information below should give insite to other users interested in a specific city.  This can inculde resturant reviews, places to visit, tours to go on or just a general overview.</p>
          <%= f.text_area :content, class:"form-control", placeholder: "Content" %>
          <%=f.hidden_field :user_id, :value => current_user.id %>
        </div>
        <div id="cityDropDown">
          <h2>Pick a city below</h2>
          <%= fields_for (@cities) do |c| %>
            <div class= 'field'>
              <%= c.label "All Cities" %> </br>
              <%= f.collection_select :city_id, @cities, :id, :name, include_blank: true %>
            </div>
          <% end %>
        </div>

        <%= f.submit "Submit", class:"btn btn-primary btn-lg pull-right" %>
      <% end %>
      
    </div>
  </div>
  
</div>
