<div class="container">
  <div class="row">

    <div class="col-sm-4 postImg">
    <%= link_to city_path(@city) do %>
      <img src="<%=@city.image%>" >
    <%end%>
      <div>
        <%= link_to "View City", city_path(@city) %> 
      </div>
      <div>
      <!-- TODO: should display the author of post -->
      <p>Author: <%= User.find(@post.user_id).first_name %> <%= User.find(@post.user_id).last_name %></p>
      </div>
    </div>

    <div class="col-sm-8">
      <h1><%= @post.title %></h1>
      <p><%= @post.content %></p>
    </div>

    <!-- TODO customization:  when this is the current users post display editing buttons -->
    <% if session[:user_id] == @user.id %>
    <div class="col-sm-8">
    <%= button_to "Edit Post", edit_post_path, class:"pairBtn btn btn-default raised", method: :get %> 
    <%= button_to "Delete Post", post_path, class:"pairBtn btn btn-default", method: :delete %>
    </div>
    <% end %>
    <!-- TODO customization:  when this is not the current users post display add comment forms -->

  </div>
</div>