<div style= "background-image: url(<%= @city.image %>)"; class="jumbotron"><h1><%=@city.name%></h1>
<div class="pull-right">
<iframe
  width="600"
  height="400"
  frameborder="1" style="border:3"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCYDJAwjEnJEDEHD0q7zobrgd7XhkR871o
    &q=<%=@city.name%>" allowfullscreen>
</iframe>
</div>
</div>

<div class="container">
<!-- City picture and add post form-->
  <div class="row">

    <div class="col-sm-4 city_image"> 
    <!-- city image -->
    <img src="<%= @city.image %>">
    </div>
<% if current_user %>
    <div class="col-sm-8">
      <div class="well city_post_form">
      
        <%= form_for @post do |f|  %>
          <div>
            <%= f.text_field :title, class:"form-control", placeholder: "Title" %> </br>
            <%= f.text_area :content, class:"form-control", placeholder: "Content" %>
            <!-- grab the id of the city through current page -->
            <%=f.hidden_field :city_id, :value => @city.id %>

            <!-- grab user id by session  -->
            <%=f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <%= f.submit "Submit", class:"btn btn-primary btn-lg pull-right" %>
        <% end %>
        
      </div>
    </div>
    <% end %>
  </div>
</div>
    <div class="container">
      <div class="row city_posts">
        <h2>What do other have to say about this city</h2>
        <% @posts.each do |post| %>
          <div class='col-sm-7'>
            <h3><%= link_to "#{post.title}", post_path(post) %></h3>
            <p><%=post.content%></p>
          </div>
        <% end %>
    </div>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCYDJAwjEnJEDEHD0q7zobrgd7XhkR871o
    &q=<%=@city.name%>" allowfullscreen>
</iframe>
  </div>
</div>